<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />

  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,700" rel="stylesheet"> {{!-- Favicon --}}
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/site.webmanifest">
  <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>






  <link rel="stylesheet" href="/style.css" type="text/css" />

  <title>William Wallace Abernathy</title>
</head>

<body>
  <script src="/scripts/anime.min.js"></script>
  <script src="/scripts/main.js"></script> {{{body}}}
</body>

</html>