<main class="about-main">
  <div class="who-div">
    <h2 class="ml12">
      Who Am I?
    </h2>
  </div>

  {{!-- 600 x 425 --}}
  <div class="loading">
    <div class="wa-img-div">
      <img id="wa-img" src="/images/highresWA.png" alt="HEY LOOK ITS ME :-)" />
    </div>
  </div>


  <div class="bio-div">
    <p>
      <span class="bio">
        My name is William Wallace Abernathy and I am a Full Stack Web Developer from Cypress, Texas. I am enthralled with the work
        I do, and wake up every day looking forward to coming up with new, innovative solutions through my code. Im at ease
        in both back end or front end roles - from models through views - and like to have a hand in all parts of the development
        process. My main passions are conservation, education and technology. If you'd like to learn more about who I am
        and what's shaped me, take a look at either of the pages to the left.
      </span>
      <div class="stop-by-div">
        <span class="stop-by">
          Thanks for stopping by!
        </span>
      </div>
    </p>
  </div>


  <div id="abt-btn-div">
    <div id="work-btn-div">
      <a href="/about/work-history" class="btn abt-btn">
        <h2 class="ml16">
          Work History
        </h2>
      </a>
    </div>
    <div id="offclock-btn-div">
      <a href="/about/off-clock" class="btn abt-btn">
        <h2 class="ml16">
          Off the Clock
        </h2>
      </a>
    </div>
  </div>

  <div id="abt-back-btn" class="go-back-div">
    <a class="go-back btn" href="/home">
      <img class="go-back-arrow" src="/images/backArrowGrey.png" />
    </a>
  </div>
</main>