<main class="about-main">
  <div class="who-div">
    <h2 class="ml12">
      Who Am I?
    </h2>
  </div>

  {{!-- 600 x 425 --}}
  <div class="wa-img-div">
    <img class="wa-img" height="450px" width="410px" src="/images/waHalf.png" alt="HEY LOOK ITS ME :-)" />
  </div>

  <div class="bio-div">
    <p>
      <span class="bio">
        My name is William Wallace Abernathy and I am a Full Stack Web Developer from Cypress, Texas. I am extremely passionate about
        the work I do, and wake up every day looking forward to coming up with new, innovative solutions through my code.
        Im at ease in both back end or front end roles - from database relations to CSS - I seek to add value in whatever
        role I am placed. I enjoy learning new technologies and always look for ways to sharpen my current skill set. If
        you'd like to learn more about who I am and what's shaped me take a look at either of the pages to the left.
      </span>
      <div class="stop-by-div">
        <span class="stop-by">
          Thanks for stopping by!
        </span>
      </div>
    </p>
  </div>


  <div id="abt-btn-div">
    <div id="work-btn-div">
      <a href="#" class="btn btn-text btn-plain">
        <h2 class="ml3">
          Work History
        </h2>
      </a>
    </div>
    <div id="offclock-btn-div">
      <a href="#" class="btn btn-text btn-plain">
        <h2 class="ml3">
          Off the Clock
        </h2>
      </a>
    </div>
  </div>

  <div class="go-home-div">
    <a class="go-home btn" href="/home">
      <img class="go-home-logo" src="/images/backArrowGrey.png" />
    </a>
  </div>
</main>