<main class="about-main">
  <div class="about-title">
    <h2 class="ml12">
      Who Am I?
    </h2>
  </div>

  <div class="wa-img-div">
    <img class="wa-img" height="600px" width="425px" src="/images/waCutout.png" alt="HEY LOOK ITS ME :-)" />
  </div>


  <div id="abt-btn-div">
    <div id="work-btn-div">
      <a href="#" class="btn btn-text btn-plain">
        <h2 class="ml3">
          Work History
        </h2>
      </a>
    </div>
    <div id="offclock-btn-div">
      <a href="#" class="btn btn-text btn-plain">
        <h2 class="ml3">
          Off the Clock
        </h2>
      </a>
    </div>
  </div>
</main>