<main class="contMain">
  <div class="container">
    <h2 class="ml16 offTitle" style="text-align: center;font-size: 3em;">Contact</h2>
    <div class="contactInfo">
      <h3 class="contactText">Email: wabernathy96@gmail.com</h3>
      <h3 class="contactText">Number: (281)-217-5998 </h3>
    </div>
    <div class="contactButtons">
      <a target="_blank" class="btn" href="https://www.linkedin.com/in/wabernathy96/">
        <img src="/images/linkedin.png" height="100px" width="100px" />
      </a>
      <a target="_blank" class="btn ml16 resumeBtn" href="https://docs.google.com/document/d/13mc3x-8OzGtcbZ5LwTen5Eo_tXF98XvvzKZ-ekwfAkE/edit?usp=sharing">
        Resume
      </a>
      <a target="_blank" class="btn" href="https://www.github.com/wabernathy96">
        <img src="/images/githubG.png" height="100px" width="100px" />
      </a>
    </div>
  </div>

  <div class="go-back-div proj-back">
    <a class="proj-back-a go-back" href="/home">
      <img class="go-back-arrow" src="/images/backArrowGrey.png" />
    </a>
  </div>
</main>