<main class="home-main">
  <div class="home-topper-div">
    <svg class="home-topper" width="100%" height="100%" viewBox="0 0 1283 98" version="1.1">
      <path class="topper-line" d="M1.25,66.25l594.762,0" />
      <path class="topper-line" d="M686.488,66.25l594.762,0" />
      <g>
        <path class="logo-outline" d="M596.012,5.774l15.833,-4.524l11.31,49.762l13.571,-46.595l9.048,0l13.571,46.595l11.31,-49.762l15.833,4.524l-22.619,63.333l9.048,27.143l-13.572,0l-9.047,-27.143l-18.096,0l-9.047,27.143l-13.572,0l9.048,-27.143l-22.619,-63.333Z"
        />
        <path class="logo-triangle" d="M632.202,55.536l18.096,0l-9.048,-27.143l-9.048,27.143Z" />
      </g>
    </svg>
  </div>


  <div id="home-btn-div">
    <div id="about-btn-div">
      <a href="/about" class="btn btn-text btn-plain">
        <h2 class="ml10">
          <span class="text-wrapper">
            <span class="letters">About</span>
          </span>
        </h2>
      </a>
    </div>
    <div id="projects-btn-div">
      <a href="#" class="btn btn-text btn-plain">
        <h2 class="ml10">
          <span class="text-wrapper">
            <span class="letters">Projects</span>
          </span>
        </h2>
      </a>
    </div>
    <div id="contact-btn-div">
      <a href="#" class="btn btn-text btn-plain">
        <h2 class="ml10">
          <span class="text-wrapper">
            <span class="letters">Contact</span>
          </span>
        </h2>
      </a>
    </div>
  </div>

  <div class="fs-bg-div">
    <div class="overlay"></div>
    <video autoplay muted loop class="lake-vid">
      <source src="/images/mountainLake.mp4" type="video/mp4">
    </video>
  </div>

</main>