<header id="landing-header" class="header">

  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main">
        William Abernathy
      </span>
      <span class="heading-primary-sub">
        Full Stack Developer
      </span>
    </h1>

    <a href="/home" id="enter" class="btn btn-white btn-animated">
      Enter
    </a>
  </div>
</header>