<main class="work-main">
  <iframe src="https://docs.google.com/document/d/e/2PACX-1vRSRK3AsGE3b10PHMPgSYUi7CBXBfWtIiyypHw7VAAU13SIHIPl1OaLFIOqZbqqn1GIqQRH3H6gW0GI/pub?embedded=true"></iframe>
</main>