<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<main class="off-main">
  <div class="container">
    <div class="offTitleDiv">
      <h2 id="offTitId" class="ml16 offTitle">Off the Clock</h2>
    </div>
    <div class="divider"></div>
    <div class="section center">
      <h4>The Great Outdoors</h4>

      <p>The outdoors are my home. Whatever the activity might be - from hiking to fishing, or even just stepping out of
        my back door for a breath of fresh air; I always appreciate the feeling of the sun on my face. I've been hiking and
        hunting since I was young and both have given me an extreme love for the land and all creatures who inhabit it. All
        of my best memories are outdoors - including getting the opportunity to meet Steven Pinker at Dream Lake. </p>
      <br />
      <img class="responsive-img" src="/images/pinker.jpg" />

    </div>
    <div class="divider"></div>
    <div class="section center">
      <h4>Skateboarding</h4>
      <p>Skateboarding has always been a passion of mine. The feeling of eurthane rolling over concrete is irreplicable.
        The sport belongs to a community of strong individuals who are almost always supportive of each other. Skateboarding
        has taught me a lot of lessons that I wont soon forget and will be something that I always love. </p>
      <br />
      <img class="responsive-img" src="/images/williams.jpg" />

    </div>
    <div class="divider"></div>
    <div class="section center">
      <h4>Illustration</h4>
      <p>Creating artwork has always been a passion of mine, and is actually what propelled me into design, and subsequently,
        programming. I love working with ink, watercolor, and pencil as well as digital media. One thing I love about art
        as well as many of my other hobbies is that there is always room to improve. </p>
      <img class="responsive-img" src="/images/george.jpg" />
    </div>
    <div class="divider"></div>
    <div class="section center">
      <h4>Music</h4>
      <p>Music is a huge part of my life. I love everything from Ahmad Jamail to Commodores, bands like Nihilist and Morta
        Skuld, to bands like Crosby, Stills, and Nash or Flatland Cavalry. I just love music that has someones heart and
        soul poured into it. I have been to countless Red Dirt Country shows in my life and am a country music purist. However,
        I found my home in Houston's hardcore punk scene. It provides a healthy outlet for me as well as most that go to
        shows, and has a very supportive community. Below is a photo of Mammoth Grinder - a metal band from Austin, Texas
        that's one of my favorites. </p>
      <br />
      <img class="responsive-img" src="/images/mammoth.jpg" />
    </div>
    <div class="divider"></div>
    <div class="section center">
      <h4>Gaming</h4>
      <p>I have always loved to play video games, and I think that they will continue to be a part of my life for the forseeable
        future. My favorite genre is that of First Person Shooters with my favorite game being Player Unknown's Battleground
        (PUBG). I think it is awesome how mainstream video games are becoming in America through Esports, and I follow Houston's
        Overwatch League team - the Outlaws - closely. </p>
      <br />
      <img class="responsive-img" src="/images/outlaws.png" />

    </div>
    <div class="divider"></div>
    <div class="section center">
      <h4>Computer Building</h4>
      <p>I think technology in general is insanely cool, so the opportunity to learn and work with state-of-the-art tech
        in your own kitchen is something special. I love working with computers and putting them together, but also learning
        about how the technology itself works. I would love to get into hardware design one day because of this passion.
      </p>
      <br />
      <img class="responsive-img" src="/images/rog.jpg" />
    </div>

  </div>
  <div class="go-back-div proj-back">
    <a class="proj-back-a go-back" href="/about">
      <img class="go-back-arrow" src="/images/backArrowGrey.png" />
    </a>
  </div>
</main>