<header class="wrk-header">

  <div class="vid-div">
    <video autoplay muted loop class="stream-vid">
      <source src="/images/walkingStream.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="wrk-buttons">

    <a class="showSingle" target="1">
      <h3 class="btn ml16">
        Installer
      </h3>
    </a>


    <a class="showSingle" target="2">
      <h3 class="btn ml16">
        Runner
      </h3>
    </a>


    <a class="showSingle" target="3">
      <h3 class=" btn ml16">
        Waiter
      </h3>
    </a>


    <a class="showSingle" target="4">
      <h3 class="btn ml16">
        Other
      </h3>
    </a>

  </div>
</header>

<main class="wrk-main">

  <div class="wrk-og cnt">
    <h2 class="ml14">
      <span class="text-wrapper">
        Work History
        <span class="line"></span>
      </span>
    </h2>

    <p>
      <span class="wrkP">
        This page is all about different jobs I've held over the years that have given me not only great work ethic, but also many
        communicable skills.
        <br>
        <br> Click on the buttons to the left to read more about the jobs that have shaped me!
      </span>
    </p>
  </div>

  <section class="cnt">
    <div id="div1" class="targetDiv" style="text-align: center;">
      <h2 class="ml14">Installer</h2>
      <p>
        <span class="wrkP">
          Communicable Skills: Communication, Teamwork, Leadership

          <br>
          <br> I truly enjoyed my time working as a glass installation technician for Southern Window and Glass. It was great
          to learn to work with my hands and to learn how to work with various tools such as saws and measuring tape. During
          my stint as a glass installation tech I also learned how to communicate and work with people I never would've thought
          I'd be able to so with. My time at Southern taught me a lot about myself, and gave me an even greater drive to
          pursue my dreams of becoming a developer.
        </span>
      </p>
    </div>
    <div id="div2" class="targetDiv" style="text-align: center;">
      <h2 class="ml14">Runner</h2>
      <p>
        <span class="wrkP">
          Communicable Skills: Communication, Microsoft Office, Organization

          <br>
          <br> I remember how excited I was when, after two rounds of interviews, I landed the job as a Runner at a great firm.
          It was a dream to me, as all I wanted to be at the time was a lawyer. My time at the Law Firm of Wayne T. Rife
          was a rollercoaster as I was still learning a lot about who I was as a person and what my goals in life were. However,
          I learned a lot while on the ride. I learned how to follow orders, deal with clients in a professional setting,
          use a filing system, and got pretty darn good with Microsoft Office... as well as a broom. My time there also showed
          me that law is not the career path for me, and propelled me towards becoming a developer.

        </span>
      </p>
    </div>
    <div id="div3" class="targetDiv" style="text-align: center;">
      <h2 class="ml14">Waiter</h2>
      <p>
        <span class="wrkP">
          Communicable Skills: Communication, Time Management, Teamwork

          <br>
          <br> I've always said serving is a higher calling, and I do believe that. It takes a lot to humble yourself, to take
          on the role of a servant, and to always side with the guest - even when they're in the wrong. It takes a lot of
          admirable traits to be a great waiter - a friendly disposition, great interpersonal skills, a bit of sales knowledge,
          and a whole lot of memory. These traits are assets in any work environment, and are something I will carry with
          me for the rest of my life.

        </span>
      </p>
    </div>
    <div id="div4" class="targetDiv" style="text-align: center;">
      <h2 class="ml14">Other</h2>
      <p>
        <span class="wrkP">
          Communicable Skill: Work Ethic

          <br>
          <br> I've worked a couple of other jobs since I came of age, but none had such an impact on me as my time spent splitting
          wood over a couple of long Houston summers. This was hot, heavy, hard work. It was a job meant for a few men, but
          was given to one boy. This meant I had to work that much harder to make up for the lack of manpower. The work did
          suck, there's no denying that, but it showed me that a day spent hard at work is far more satisfying than the opposite.
          It also gave me a new perspective on life: that you can stand it, it's not unbearable, it just seems that way;
          and that if you work hard enough you can accomplish things that seem impossible.
        </span>
      </p>
    </div>
  </section>



</main>
<div class="go-back-div">
  <a class="go-back btn" href="/about">
    <img class="go-back-arrow" src="/images/backArrowGrey.png" />
  </a>
</div>