<main class="work-main">
  <div class="job-btn-div">
    <div class="spec-job-btn-div">
      <a href="#job-1" class="btn hst-btn">
        <h3 class="ml16">
          Installer
        </h3>
      </a>
    </div>
    <div class="spec-job-btn-div">
      <a href="#job-2" class="btn hst-btn">
        <h3 class="ml16 ">
          Runner
        </h3>
      </a>
    </div>
    <div class="spec-job-btn-div">
      <a href="#job-3" class="btn hst-btn">
        <h3 class="ml16 ">
          Waiter
        </h3>
      </a>
    </div>
    <div class="spec-job-btn-div">
      <a href="#job-4" class="btn hst-btn">
        <h3 class="ml16 ">
          Other
        </h3>
      </a>
    </div>
  </div>

  <div class="vid-div">
    <video autoplay muted loop class="stream-vid">
      <source src="/images/walkingStream.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="work-head">

    <h2 style="text-align:center">
      <span class="work-hst">Work History</span>
    </h2>
    <p>
      <span class="work-hst-text">
        Scroll down to find out more about the jobs I've done that have shaped me.
      </span>
    </p>
  </div>
  <div class="hst-page-link-div">
    <div class="hst-page" id="job-1">
      <p>
        <h2 style="text-align:center">Installer</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores amet quas, odit itaque obcaecati ullam eaque numquam ab
        expedita voluptatibus? Dolor explicabo quisquam excepturi unde incidunt eligendi optio numquam ad.

      </p>
    </div>
    <div class="hst-page" id="job-2">
      <p>
        <h2 style="text-align:center">Runner</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores amet quas, odit itaque obcaecati ullam eaque numquam ab
        expedita voluptatibus? Dolor explicabo quisquam excepturi unde incidunt eligendi optio numquam ad.
      </p>
    </div>
    <div class="hst-page" id="job-3">
      <p>
        <h2 style="text-align:center">Waiter</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores amet quas, odit itaque obcaecati ullam eaque numquam ab
        expedita voluptatibus? Dolor explicabo quisquam excepturi unde incidunt eligendi optio numquam ad.

      </p>
    </div>
    <div class="hst-page" id="job-4">
      <p>
        <h2 style="text-align:center">Other</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores amet quas, odit itaque obcaecati ullam eaque numquam ab
        expedita voluptatibus? Dolor explicabo quisquam excepturi unde incidunt eligendi optio numquam ad.

      </p>
    </div>
  </div>

  <div class="go-back-div">
    <a class="go-back btn" href="/about">
      <img class="go-back-arrow" src="/images/backArrowGrey.png" />
    </a>
  </div>
</main>