<header class="wrk-header">

  <div class="vid-div">
    <video autoplay muted loop class="stream-vid">
      <source src="/images/walkingStream.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="wrk-buttons">

    <a class="showSingle" target="1">
      <h3 class="btn ml16">
        Installer
      </h3>
    </a>


    <a class="showSingle" target="2">
      <h3 class="btn ml16">
        Runner
      </h3>
    </a>


    <a class="showSingle" target="3">
      <h3 class=" btn ml16">
        Waiter
      </h3>
    </a>


    <a class="showSingle" target="4">
      <h3 class="btn ml16">
        Other
      </h3>
    </a>

  </div>
</header>

<main class="wrk-main">

  <div class="wrk-og cnt">
    <h2>HELLO</h2>
  </div>

  <section class="cnt">
    <div id="div1" class="targetDiv">
      Hello
    </div>
    <div id="div2" class="targetDiv">Content 2</div>
    <div id="div3" class="targetDiv">Content 3</div>
    <div id="div4" class="targetDiv">Content 4</div>
  </section>



</main>
<div class="go-back-div">
  <a class="go-back btn" href="/about">
    <img class="go-back-arrow" src="/images/backArrowGrey.png" />
  </a>
</div>