/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Universal selector
    - Sets the default values for all elements
    - Box-sizing makes it so that the margin/padding is not part of the overall size of the element
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  - Always set fonts in body
  - All children will inherit the same font
  - padding = adds border to whole page (not inherited)
*/
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /* padding: 30px; */
}

/* 
  - position: relative = positions of children will be relative to parent
  - vh = percentage of the view height (100 = always same height)
  - bg-img = linear-gradient.. creates a color gradient in specified direction for colors on top of the img specified after
  - size: cover = whatever the size of the viewport/element always fit the element inside the box
  - position: top = image always remains at the top of the page
  - clip-path: clips box based on coordinates => coordinates go TL, TR, BR, BL
  - points are: x axis y axis ... can be pixels, percentage etc
*/
.header {
  position: relative;
  height: 95vh;
  background-image: url("./images/bigBend.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

/* 
  - top, left = Shift based on percentage of width/height parent element
  - transform, translate = will shift the element based on its own height/width, not parent element
  - text-align = any inline-block elements are considered text, so it will center those
*/

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* 
  - backface-visibility = hides the area behind the element, fixes shaking in animations
*/
.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 50px;
}

/* 
  - display: block = turns element into a block-level element (rather than inline which is default for span)
  - animation
    - iteration-count = specify a number of times for the animation to iterate
    - delay = delay when the animation starts after event trigger
    - timing-function = how the animation comes into the screen
*/
.heading-primary-main {
  display: block;
  font-size: 65px;
  font-weight: 300;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 17.4px;

  animation: moveInRight 1.5s ease-out;
}

/* 
  - keyframes = declare an animation <animationName>
  - 0% -> 100% = the timeline of the animation ... 0 is before it starts, 100 is when it finsishes
  - transform ... translateX, Y etc = move on those axis
    - For X = positive values move to right, negative values move to left
    - For Y = positive values move up, negative values move down
  - NOTE: only animate the opacity and transform properties
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    /* 0 = put to original position */
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    /* 0 = put to original position */
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    /* 0 = put to original position */
    transform: translate(0);
  }
}

/* 
  - btn:link = pseudo class
    - pseudo class = special state of a selector
      - ex) link = state of button selector
  - display: inline-block = gives the element its own space to occupy, same as text
    - To center: set text-align:center of parent element since the block element is like text
  - border-radius = round corners of element
*/
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  /* first value = top/bottom, second value = left/right */
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

/* 
  - box-shadow = create a shadow for an element
    - Properties:
      1) X direction shadow
      2) Y direction shadow
      3) blur of shadow
*/
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  /* Decrease size/blur of shadow in order to give appearance of moving closer to page */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

/* 
  - ::after = pseudo-element
    - content: MUST SPECIFY EVEN IF BLANK
    - display: MUST SPECIFY


*/
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

/* 
  - After pseudo element only when button is hovered
  - scale = scale the element compared to original size
*/
.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.ml10 {
  position: relative;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 0.25em;
  color: #fff;
  z-index: 2;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.fs-bg-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.lake-vid {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* .fs-bg-div .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: linear-gradient(to right bottom, #7bf765af, #28b485c7);
  opacity: 0.5;
} */


#about-btn-div {
  top: 10%;
}

#projects-btn-div {
  top: 25%;
}

#home-btn-div {
  position: absolute;
  top: 25%;
}

.home-topper-div {
  position: absolute;
  top: 85%;
  left: 3%;
  width: 95vw;
}

.home-topper {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: square;
  stroke-linejoin: square;
  stroke-miterlimit: 1.5;
}

.topper-line {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1.5s ease-in-out 0.5s 1 forwards;
}

.logo-outline {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s ease-in 0.5s 1 forwards;
}

.logo-triangle {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s ease-in-out 0.5s 1 forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.who-div {
  position: absolute;
  left: 40%;
  top: 10%;
}

.wa-img-div {
  visibility: hidden;
  position: absolute;
  top: 44%;
  left: 74%;
  border-radius: 25%;
  animation: fadeInRight 2s ease-in-out 0.5s 1 forwards;
}

#wa-img {
  height: 450px;
  width: 410px;
  border-radius: inherit;
}


.ml3 {
  position: relative;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 0.25em;
  color: #777;
}

.ml12 {
  font-weight: 450;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.pl12 .letter {
  display: inline-block;
}

#work-btn-div {
  top: 10%;
}

#offclock-btn-div {
  margin-top: 10vh;
}

#abt-btn-div {
  position: absolute;
  top: 30%;
}

.bio-div {
  position: absolute;
  top: 32%;
  left: 39%;
  width: 40vw;
  margin-top: 0;
}

.bio {
  color: #777;
}

.stop-by-div {
  text-align: center;
  margin-top: 10px;
}
.stop-by {
  display: inline-block;
}

.go-back-div {
  visibility: hidden;
  position: fixed;
  top: 85%;
  animation: fadeInLeft 3s ease-in-out 0.5s 1 forwards;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  10% {
    visibility: visible;
  }
  80% {
    visibility: visible;
    -webkit-transform: translate3d(102%, 0, 0);
    transform: translate3d(102%, 0, 0);
  }
  100% {
    visibility: visible;
    opacity: 0.75;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-105%, 0, 0);
  }
  10% {
    visibility: visible;
  }
  80% {
    visibility: visible;
    -webkit-transform: translate3d(102%, 0, 0);
    transform: translate3d(102%, 0, 0);
  }
  100% {
    visibility: visible;
    opacity: 0.75;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  10% {
    visibility: visible;
  }

  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  10% {
    visibility: visible;
  }

  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.ml16 {
  color: #777;
  font-weight: 300;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.vid-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.cnt {
  position: absolute;
  left: 50%;
  top: 23%;
  background-color: rgba(41, 41, 41, 0.651);
  width: 35%;
  color: #fff;
  text-align: center;
}

.wrk-buttons {
  position: absolute;
  top: 20%;
  left: 6.7%;
}

.wrk-buttons .btn {
  background-color: rgba(41, 41, 41, 0.411);
  margin-top: 1em;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  padding: 15px 15px;
}

.targetDiv {
  z-index: 2;
  align-content: center !important;
}

.offTitleDiv {
  width: 100%;
  text-align: center;
}
.offTitle {
  font-size: 3em !important;
}
.proj-div {
  position: absolute;
  text-align: center;
}

.ml14 {
  color: #fff;
  font-weight: 300;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  overflow: hidden;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}

.featured-proj .card .small {
  height: 200px !important;
}
.proj-back:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.proj-back:active {
  transform: translateY(-1px);
  /* Decrease size/blur of shadow in order to give appearance of moving closer to page */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.proj-back:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
  border-radius: 100px;
}

.proj-back-a:link,
.proj-back-a:visited {
  text-transform: uppercase;
  text-decoration: none;
  /* first value = top/bottom, second value = left/right */
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.proj-main {
  background: linear-gradient(to right bottom, #a02baf86, #28b48591);
}

.contactButtons {
  position: absolute;
  top: 70%;
  left: 25.5%;
}

.contactInfo {
  position: absolute;
  top: 28%;
  left: 28%;
  text-align: center;
}

.contactText {
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.resumeBtn {
  transform: translateY(-1px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}


@media only screen and (min-width : 1400px) {
  /* ----- WORK HISTORY -------- */
  .wrk-buttons {
    left: 20%;
  }
  .wrk-og {
    left: 45%;
  }
  .cnt {
    left: 40%;
  }
}
/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
  /* ----- ABOUT --------- */
  .who-div {
    left: 45%;
  }
  .wa-img-div {
    top: 55%;
  }
  /* ----- WORK HISTORY -------- */
  .wrk-buttons {
    left: 15%;
  }
  .wrk-og {
    left: 45%;
  }
  .cnt {
    left: 40%;
  }
  /* ----- CONTACT ------ */
  .contactInfo {
    text-align: center;
    left: 28%;
  }
  .contactButtons {
    left: 24%;
    top: 50%;
  }
}

/* Tablets (landscape) */
@media only screen and (min-width : 1024px) and (max-width : 1366px) and (orientation : landscape) {
  /* ------ ABOUT --------- */
  .who-div {
    left: 28%;
  }
  .bio-div {
    text-align: center;
    width: 50%;
    left: 25%;
  }
  .wa-img-div {
    left: 60%;
    top: 65%;
  }
  #abt-btn-div {
    top: 70%;
    left: 15%;
  }
  /* ------ WORK HISTORY --------- */
  .vid-div {
    content: url("/images/ipadLandStream.png");
  }
}

/* Tablets (portrait) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
  /* ------ ABOUT -------- */
  .who-div {
    width: 100%;
    top: 5%;
    left: 25%;
  }
  .bio-div {
    width: 95%;
    left: 5%;
    top: 20%;
    text-align: center;
  }
  .wa-img-div {
    left: 55%;
    top: 50%;
    border-radius: 25%;
  }
  #abt-btn-div {
    top: 50%;
  }
  #wa-img {
    border-radius: inherit;
  }
  .abt-btn {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  #abt-back-btn {
    top: 70%;
  }
  /* ----- WORK HISTORY ----------*/
  #wrkBack {
    top: 65%;
  }
  /* ------ CONTACT ---------- */
  .contactInfo {
    width: 100%;
    left: 1%;
  }
  .contactButtons {
    width: 100%;
    left: 5%;
    top: 50%;
  }

}

/* Smartphones (landscape) */
@media only screen and (min-width : 568px) and (max-width : 823px) and (orientation : landscape){
  /* --------- ALL ----------- */
  .go-back-arrow {
    height: 40px;
    width: 50px;
  }
  
  /* ---------- LANDING ---------- */
  .header {
    position: relative;
    height: 95vh;
    background-image: url("./images/bigBend.jpg");
    background-size: cover;
    background-position: top;
    clip-path: none;
  }
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
  
    backface-visibility: hidden;
    margin-bottom: 50px;
  }

  .heading-primary-main {
    display: block;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 3px;
  
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
  }
  .heading-primary-sub {
    display: block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 17.4px;
  
    animation: moveInRight 1.5s ease-out;
  }

  /* ------- HOME ----------- */
  .home-topper-div {
    display: none;
  }
  .fs-bg-div {
    content: url("/images/rockInLake.png");
  }

  /* ------ ABOUT ----------- */
  .who-div {
    width: 100%;
    top: 0%;
    left: 15%;
  }
  .bio-div {
    width: 100%;
    left: 0%;
    text-align: center;
  }
  #wa-img {
    height: 340px;
    width: 300px;
  }
  .wa-img-div {
    left: 58%;
    top: 75%;
  }
  #abt-btn-div {
    top: 95%;
    left: 0%;
  }
  .abt-btn {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  /* ------ WORK HISTORY ------------ */
  .vid-div {
    content: url("/images/ipadStream.png");
  }
  .wrk-og {
    width: 100%;
    top: 0%;
    left: 0%;
  }
  .cnt {
    width: 100%;
    top: 0%;
    left: 0%;
  }
  .wrk-buttons {
    width: 75%;
    left: 15%;
    top: 85%;
  }
  /* ------- CONTACT ----------- */
  .contactInfo {
    width: 100%;
    left: 1%;
  }
  .contactButtons {
    width: 100%;
    left: 1%;
    top: 55%;
  }
}
/* Smartphones (portrait) */
@media only screen and (min-width : 321px) and (max-width: 414px) and (orientation : portrait ) {
  /* --------- ALL ----------- */
  .go-back-arrow {
    height: 40px;
    width: 50px;
  }
  
  /* ---------- LANDING ---------- */
  
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
  
    backface-visibility: hidden;
    margin-bottom: 50px;
  }

  .heading-primary-main {
    display: block;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 3px;
  
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
  }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;
  
    animation: moveInRight 1.5s ease-out;
  }

  /* ---------- HOME -------------- */
  .home-topper-div {
    display: none;
  }
  .fs-bg-div {
    content: url("/images/rockInLake.png");
    height: 100%;
  }

  /* -------- ABOUT ------------- */
  #wa-img {
    height: 270px;
    width: 230px;
    border-radius: inherit;
  }
  .wa-img-div {
    top: 65%;
    left: 22%;
    border-radius: 25%;
  }
  .who-div {
    position: absolute;
    top: 5%;
    left: 15%;
  }
  .ml12 {
    font-weight: 450;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .ml16 {
    font-size: 20px;
    letter-spacing: .2em;
  }
  .bio-div {
    position: absolute;
    left: .3%;
    top: 20%;
    width: 100%;
    text-align: center;
  }
  .bio {
    font-size: 12px;
  }
  #abt-btn-div {
    top: 105%;
    left: 16%;
    margin-top: 3vh;
  }
  #offclock-btn-div {
    margin-top: 1vh;
  }
  .abt-btn {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  #abt-back-btn {
    top: 85%;
  }
  /* ----- WORK HISTORY --------- */
  .showSingle {
    transform: translateY(-1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  .vid-div {
    display: none;
    background: linear-gradient(to right bottom, #7bf765af, #28b485c7);
  }
  .wrk-og {
    position: absolute;
    left: 0%;
    top: 10%;
    width: 100%;
  }
  .targetDiv {
    width: 100%;
  }
  .wrk-buttons {
    width: 100%;
    top: 75%;
    left: 0%;
  }
  .cnt {
    width: 100%;
    left: 0%;
    top: 0%;
  }
  /* ----- OFF THE CLOCK -------- */
  #offTitId {
    font-size: 30px !important;
    font-weight: 600;
  }
  /* ------- CONTACT ---------- */
  .contactInfo {
    width: 100%;
    left: 1%;
    top: 20%;
  }
  .contactText {
    font-size: 20px;
  }
  .contactButtons {
    top: 35%;
  }
  .resumeBtn {
    transform: translateY(-1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
}
/* Iphone 5 (portrait) */
@media only screen and (max-width : 320px) and (orientation : portrait ) {
  /* --------- ALL ----------- */
  .go-back-arrow {
    height: 40px;
    width: 50px;
  }
  
  /* ---------- LANDING ---------- */
  
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
  
    backface-visibility: hidden;
    margin-bottom: 50px;
  }

  .heading-primary-main {
    display: block;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 3px;
  
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
  }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;
  
    animation: moveInRight 1.5s ease-out;
  }

  /* ---------- HOME -------------- */
  .home-topper-div {
    display: none;
  }
  .fs-bg-div {
    content: url("/images/rockInLake.png");
    height: 100%;
  }

  /* -------- ABOUT ------------- */
  #wa-img {
    height: 270px;
    width: 230px;
    border-radius: inherit;
  }
  .wa-img-div {
    top: 80%;
    left: 18%;
    border-radius: 25%;
  }
  .who-div {
    position: absolute;
    top: 5%;
    left: 10%;
  }
  .ml12 {
    font-weight: 450;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .ml16 {
    font-size: 20px;
    letter-spacing: .2em;
  }
  .bio-div {
    position: absolute;
    left: .3%;
    top: 20%;
    width: 100%;
    text-align: center;
  }
  .bio {
    font-size: 12px;
  }
  #abt-btn-div {
    top: 125%;
    left: 8%;
    margin-top: 3vh;
  }
  #offclock-btn-div {
    margin-top: 1vh;
  }
  .abt-btn {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  #abt-back-btn {
    top: 85%;
  }
  /* ----- WORK HISTORY --------- */
  .showSingle {
    transform: translateY(-1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  .vid-div {
    display: none;
    background: linear-gradient(to right bottom, #7bf765af, #28b485c7);
  }
  .wrk-og {
    position: absolute;
    left: 0%;
    top: 10%;
    width: 100%;
  }
  .targetDiv {
    width: 100%;
  }
  .wrk-buttons {
    width: 100%;
    top: 95%;
    left: 0%;
  }
  .cnt {
    width: 100%;
    left: 0%;
    top: 0%;
  }
  /* ----- OFF THE CLOCK -------- */
  #offTitId {
    font-size: 25px !important;
    font-weight: 600;
  }
  /* ------- CONTACT ---------- */
  .contactInfo {
    width: 100%;
    left: 1%;
    top: 20%;
  }
  .contactText {
    font-size: 20px;
  }
  .contactButtons {
    top: 40%;
    left: 22%;
  }
  .resumeBtn {
    transform: translateY(-1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
}